<style>
    .container3 {
        /*box-shadow: 0px 1px 6px #3f2a2a35;*/
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border: 1px solid #BECFD6;
        width: 40vw;
        margin-top: 30px;
        padding-top: 0px;
        position: absolute;
        left: 31%;
        border-radius: 60px;
        padding-left: 70px;
    }

    .container1 {
        padding-top: 23px;
        float: left;
    }

    .container2 {
        float: left;
        padding-top: 23px;
        margin-left: 90px;
    }
</style>
@model OrganisationEditing.Models.Employee

@{
    ViewBag.Title = "CreateE";
    Layout = "~/Views/Shared/emplayout.cshtml";
}

<body style="background-color:aliceblue">
</body>
<spam id="MessageE" class="dl-horizontal" hidden>@TempData["MessageE"]</spam>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(Model => Model.EmployeeId)


    @*@Html.HiddenFor(Model=>Model.Id)*@
<div class="container3">
    <div>
        <span style=" width: 87%; background-color: black; font-size: 30px; color: #fff; font-family: -webkit-pictograph; display: inline-block; text-align: -webkit-center; border-radius: 172px;"> Employee Form</span>
    </div>
        <div class="container1">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>First Name</label>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">

            <label>Address</label>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })


        </div>
        @if (Model == null)
        {
            <div class="form-group">
                <label>DOB</label>
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="form-group">
                <label>DOB</label>
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @Value = Model.DOB.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        }

      
        <div class="form-group">
            @Html.LabelFor(m => m.Gender)
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.Gender, "Male") Male
            </div>
            <div class="radio" style="padding-left:72px">
                @Html.RadioButtonFor(m => m.Gender, "Female")Female
            </div>
        </div>


        <div class="form-group">

            <label>Designation</label>
            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })

        </div>
        @if (Model == null)
        {
            <div class="form-group">
                <label>Date of Join</label>
                @Html.EditorFor(model => model.Date_of_joining, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_of_joining, "", new { @class = "text-danger" })

            </div>
        }
        else
        {
            <div class="form-group">
                <label>Date of Joining</label>
                @Html.EditorFor(model => model.Date_of_joining, new { htmlAttributes = new { @class = "form-control", @Value = Model.Date_of_joining.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.Date_of_joining, "", new { @class = "text-danger" })

            </div>
        }

        <div class="form-group">

            <label>Department</label>
            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="container2">
        <div class="form-group">
            <label>Last Name</label>
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Employee Type</label>
            @Html.EditorFor(model => model.Employee_Type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Employee_Type, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Phone Number</label>
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.Status, "Active") Active
            </div>
            <div class="radio" style="padding-left:72px">
                @Html.RadioButtonFor(m => m.Status, "InActive") InActive
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>



        @*<div class="form-group">
                <label>Status</label>
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            </div>*@
        @if (Model == null)
        {
            <div class="form-group">
                <label>User Name</label>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <label>Password</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="form-group">
                <label>User Name</label>
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @Value = Model.Password, @readonly = "readonly", placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        }
    </div>


    @*@Html.HiddenFor(model=>model.Id,Model.Id=ViewBag.Id)*@
    <input type="hidden" name="Id" value="@ViewBag.Id" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="Create" class="btn btn-primary" style="margin-left:53px" />
            <a href="@Url.Action("Emplist", "Employees", new { user = Session["Id"] })" class=" btn btn-primary">Back </a>
        </div>
    </div>
</div>

}
@section Scripts
{
    <script>
     $(document).ready(function () {
         var message = $('#MessageE').text();
         if (message !== '') {
             toastr.success(message);
         }
         });
    </script>
}