@model OrganisationEditing.Models.Admin

@{
    ViewBag.Title = "LoginAdmin";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<style>
    .validation-summary-errors {
        color: crimson;
    }
</style>

<h1>Administrator</h1>
<div class="clear-loading spinner">
    <span></span>
</div>
<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form action="LoginAdmin" method="post">
        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
            <input type="text" name="UserName" placeholder="Enter User Name" required="" />
        </div>
        <div class="agile-field-txt">
            <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> password </label>
            <input type="password" name="Password" placeholder="Enter Password" required="" id="myInput" />
            @Html.ValidationSummary();
            <div class="agile_label">
                <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Show password</label>
            </div>
            <div class="agile-right">
                <a href="#">forgot password?</a>
            </div>
        </div>
        <!-- script for show password -->
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        <!-- //end script -->
        <input type="submit" value="LOGIN">

    </form>
</div>
<div class="copy-wthree">

</div>























































@*<h2>LoginAdmin</h2>

    @using (Html.BeginForm("LoginAdmin", "Employee", FormMethod.Post))
    {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
            <h4>Admin</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
